mat-paginator{
    background: #212121;
}

mat-paginator{
    color: #fff;
}

.searchdesign{
    height: 44px;
    background: #212121;
    border: 1px solid #716e6e;
    color: #fff;
    font-size: 15px;
}

.btnDesign{
    height: 44px;
    border-radius: 2;
    width: 80px;
    background: #2F8F9D;
    border: #2F8F9D;
    font-size: 15px;
}

.blue-colour{
    background: #2F8F9D;
}